{% extends '::base.html.twig' %}
{% block body %}
{% set meses = ["Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre"] %}
		<div class="col-12">
			<div class="page-header"><h1>Descargas </h1></div>
		</div>
		<div class="col-12">
			<div class="col-sm-6 col-xs-12 table-responsive">
					<table id="semanal" class="table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<th class="hidden">contador</th>
								<th class="center">
									Semana/Año &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									(Lun-Dom)
								</th>
								<th class="center">
									Historial
								</th>
								<th class="center">
									Reporte
								</th>
							
								
							</tr>
						</thead>
						<tbody>
						{% set contador = 1 %}
						{% set pasasemana = "now" %}
						{% for anyo in ("now"|date("Y"))..(desde|date("Y")) %}
						{% set comienzo = ((loop.first)?("now"|date("W"))-1:52)%}
						{% set termino = ((loop.last)?(desde|date("W")):1)%}
							{% for innersemana in comienzo..termino %}
								<tr>
									<td class="hidden"> {{contador}}{% set contador = contador + 1 %} </td>
									<td class="center">
										{% set arreglasemana = ((innersemana<10)?0)%}
										{{arreglasemana}}{{innersemana}}/{{anyo}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										{{"#{anyo}W#{arreglasemana}#{innersemana}"|date_modify("this Monday")|date("d/m" )}} - 
										{{"#{anyo}W#{arreglasemana}#{innersemana}"|date_modify("next Sunday")|date("d/m" )}} 
									</td>
									<td class="center">
										<a class="green" href={{path('genera_excel',{'fecha':anyo~'W'~arreglasemana~innersemana})}}><i class="fa fa-file-excel-o fa-2x"></i></a>
									</td>
									<td class="center">
										<a class="red" href={{path('reporte_semanal',{'fecha':anyo~'W'~arreglasemana~innersemana,'descarga':'D'})}}><i class="fa fa-file-pdf-o fa-2x"></i></a>
									</td>
								</tr>
							{% endfor %}
						{% endfor %}
						</tbody>
				</table>
			</div>
			<div class="col-sm-6 col-xs-12 table-responsive">
					<table id="mensual" class="table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<th class="hidden">contador</th>
								<th class="center">
									Mes
								</th>
								<th class="center">
									Historial
								</th>
								<th class="center">
									Reporte
								</th>
							
								
							</tr>
						</thead>
						<tbody>
						{% set contador = 1 %}
						{% for anyo in ("now"|date("Y"))..(desde|date("Y")) %}
						{% set comienzo = ((loop.first)?("now"|date("n"))-1:12)%}
						{% set termino = ((loop.last)?(desde|date("n")):1)%}
							{% for innermes in comienzo..termino %}
								<tr>
									<td class="hidden"> {{contador}}{% set contador = contador + 1 %} </td>
									<td class="center">
										{{meses[(innermes-1)]}}-{{anyo}}
									</td>
									<td class="center">
										<a class="green" href={{path('genera_excel_mes',{'fecha':anyo~'/'~innermes})}}><i class="fa fa-file-excel-o fa-2x"></i></a>
									</td>
									<td class="center">
										<a class="red" href={{path('reporte_mensual',{'fecha':anyo~'/'~innermes,'descarga':'D'})}}><i class="fa fa-file-pdf-o fa-2x"></i></a>
									</td>
								</tr>
							{% endfor %}
						{% endfor %}
						</tbody>
				</table>
			</div>
		</div>
	
<!-- basic scripts en base -->
		<!--[if !IE]> -->
		<script type="text/javascript">
			window.jQuery || document.write("<script src='{{ asset('bundles/eye3control/js/jquery.min.js') }}'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
		<script type="text/javascript">
		 window.jQuery || document.write("<script src='{{ asset('bundles/eye3control/js/jquery1x.min.js') }}'>"+"<"+"/script>");
		</script>
		<![endif]-->
		
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='{{ asset('bundles/eye3control/js/jquery.mobile.custom.min.js') }}'>"+"<"+"/script>");
		</script>
			
			
		 {% javascripts 
            'bundles/eye3control/js/bootstrap.min.js' 
			'bundles/eye3control/js/jquery.dataTables.min.js'
			'bundles/eye3control/js/jquery.dataTables.bootstrap.js'
            %}
            <script src="{{ asset_url }}" type="text/javascript"></script>
        {% endjavascripts %}
		
		
<script type="text/javascript">
$(document).ready(function(){
    $(".showinfo").tooltip();
	
	 $('#semanal').dataTable({ 
							"dom": '<"row"<"col-sm-12 col-md-6"l><"col-sm-12 col-md-6"f>>rt<"row"p>',
							 "columnDefs": [
												{
													"targets": [ 0 ],
													"searchable": false,
													"sortable": false
												},
												{
													"targets": [ 1 ],
													orderData: [ 0 ],
												},
												{
													"targets": [ 2,3 ],
													"searchable": false,
													"sortable": false
												}
											],
							"order": [[ 1, "asc" ]],
							"bStateSave": true,
							"info":     false});
	 $('#mensual').dataTable({
							"dom": '<"row"<"col-xs-12 col-sm-6"l><"col-xs-12 col-sm-6"f>>rt<"row"p>',
							"columnDefs": [
												{
													"targets": [ 0 ],
													"searchable": false,
													"sortable": false
												},
												{
													"targets": [ 1 ],
													orderData: [ 0 ],
												},
												{
													"targets": [ 2,3 ],
													"searchable": false,
													"sortable": false
												}
											],
							"order": [[ 1, "asc" ]],
							"bStateSave": true,
							"info":     false});
});
</script>		

{% endblock %}
