{% extends '::base.html.twig' %}
{% block stylesheets %}
{{parent()}}
 {% javascripts '@data_tables' %}
   

		<!--[if !IE]> -->
		<script type="text/javascript">
			window.jQuery || document.write("<script src='{{ asset('bundles/eye3control/js/jquery.min.js') }}'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
		<script type="text/javascript">
		 window.jQuery || document.write("<script src='{{ asset('bundles/eye3control/js/jquery1x.min.js') }}'>"+"<"+"/script>");
		</script>
		<![endif]-->
		
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='{{ asset('bundles/eye3control/js/jquery.mobile.custom.min.js') }}'>"+"<"+"/script>");
		</script>
		
 {% endjavascripts %}

{% endblock %}
{% block body %}
		<div class="col-12">
			<div class="page-header"><h1>Datos almacenados </h1></div>
		</div>
    <div class="table-bordered">
        {{ addDataTable(dataTable) }}
    </div>
	
{% block js %}{% endblock %}	
		<script src="{{ asset('bundles/eye3control/js/jquery.dataTables.min.js') }}" type="text/javascript"></script>
		<script src="{{ asset('bundles/eye3control/js/jquery.dataTables.bootstrap.js') }}" type="text/javascript"></script>
		<script src="{{ asset('bundles/eye3control/js/bootstrap.min.js') }}" type="text/javascript"></script>
		<script src="{{ asset('bundles/eye3control/js/ace-elements.min.js') }}" type="text/javascript"></script>
		<script src="{{ asset('bundles/eye3control/js/ace.min.js') }}" type="text/javascript"></script>
		

{% endblock %}