{% extends '::base.html.twig' %}
{% block stylesheets %}
{{parent()}}
 {% javascripts '@data_tables' %}
   

		<!--[if !IE]> -->
		<script type="text/javascript">
			window.jQuery || document.write("<script src='{{ asset('bundles/eye3control/js/jquery.min.js') }}'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
		<script type="text/javascript">
		 window.jQuery || document.write("<script src='{{ asset('bundles/eye3control/js/jquery1x.min.js') }}'>"+"<"+"/script>");
		</script>
		<![endif]-->
		
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='{{ asset('bundles/eye3control/js/jquery.mobile.custom.min.js') }}'>"+"<"+"/script>");
		</script>
		
		<!-- page specific plugin scripts -->
		<script src="{{ asset('bundles/eye3control/js/jquery.dataTables.min.js') }}"></script>
		<script src="{{ asset('bundles/eye3control/js/jquery.dataTables.bootstrap.js') }}"></script>
		
 {% endjavascripts %}

{% endblock %}
{% block body %}
   
<div class="row">
				<div class="col-12">
					<div class="page-header"><h1>Usuarios del Sistema </h1></div>
				</div>
</div>

    <div class="table-bordered">
        {{ addDataTable(dataTable) }}
    </div>
	
	<div> <button class="btn btn-green" name="nuevo"><i class="ace-icon fa fa-plus"></i>Agregar Nuevo Usuario</button>
	</div>
{% block javascripts %}{% endblock %}
		<!-- ace scripts -->
		<script src="{{ asset('bundles/eye3control/js/ace-elements.min.js') }}"></script>
		<script src="{{ asset('bundles/eye3control/js/ace.min.js') }}"></script>
		

{% endblock %}