{% set ordena = {} %}
{% set temp = {} %}

{% set jumper = 0 %}
{% for grua in 1..cantidad_gruas %}

{% if not loop.first %}
		<pagebreak orientation="landscape" />
{% endif %}

{% set validador = (jumper ? datos2 : datos1 ) %}
		{% set aux = 1 %}
		{% for each in validador %}
			{% if each.ndia == 0 %}
				{% set dia = 7 %}
			{% else %}	
				{% set dia = each.ndia %}
			{% endif %}
			
			{% if dia == aux %}
				{% set temp = temp| merge([(each.prom)]) %}
			{% elseif dia >  aux %}
				{% for relleno in (temp|length)..(dia-2) %}
					{% set temp = temp| merge([(null)]) %}
					{% set aux = aux + 1 %}
				{% endfor %}
				{% set temp = temp| merge([(each.prom)]) %}
			{% endif %}	
			{% if validador|length  > loop.index %}
				{% set aux = aux + 1 %}
				{% if validador[loop.index]["camion"] !=  each.camion %}
					{% if dia < 7 %}
						{% for relleno in (dia+1)..(7) %}
							{% set temp = temp| merge([null]) %}
						{% endfor %}
					{% endif %}	
					{% set ordena = ordena | merge({(each.camion):(temp)}) %} 
					{% set aux = 1 %}
					{% set temp = {} %}
				{% endif %}
			{% elseif loop.last %}
				{% if dia < 7 %}
						{% for relleno in (dia+1)..(7) %}
							{% set temp = temp| merge([null]) %}
						{% endfor %}
				{% endif %}	
				{% set ordena = ordena | merge({(each.camion):(temp)}) %} 
				{% set temp = {} %}
			{% endif %}
		{% endfor %}

		{#desde}}-{{hasta}}
		{{validador}#}



			{% if validador|length > 0 %}
				<div style="height: 1.1044cm" class="titulo" ><h6>Grua {{grua}} - {{graficos}} </h6></div>
				
				<table class="bordered" style="margin-bottom: 0.5424cm;width:100%;" >
					<tr>
						<td class="centered" style="height: 0.6169cm;font-weight: bold;">Tiempo total Operación</td>
					</tr>
					<tr>
						<td class="centered" >
							<img src="data:image/png;base64, {{ render(controller('Eye3ControlBundle:Reporte:grafica',{ tipo : "multiple", valores : ordena, fecha: primer|date_modify("last Monday") ,titulo : graficos })) }}" /> 
						</td>	
					</tr>
				</table>
				
				
			{% else %}		
				<div style="height: 1.1044cm" class="titulo" ><h6>Sin datos para la Grúa {{grua}} </h6></div>
			{% endif %}
{% set jumper = 1 %}
{% endfor %}
