<link rel="stylesheet" href="{{ asset('bundles/eye3control/css/uncompressed/bootstrap.css') }}" />
<link rel="stylesheet" href="{{ asset('bundles/eye3control/css/uncompressed/ace.css') }}" />

	<table border=1 >
		<tr>
			<td>
				<div class="col-sm-8"><h1>Eye3 Monitor Online</h1></div>
			</td>
			<td>
				 <div class="green">Indemin<br>Faena Til-Til</div>
			</td>
		</tr>
		<tr>
			<td>
			
				<h4>Reporte {{titulo}} </h4>
			</td>
		</tr>
	</table>
	
	<table border=1>
		<tr>
			<td>
				<div class="red"><h5>Resumen</h5></div>
			</td>
		</tr>
	</table>

	<div class="blue"><h5>Principales indicadores por Camion </h5></div>
		


		
	
				<table class="table table-striped table-bordered ">
							<thead>
								<tr>
									<th rowspan="2" class="center">
										Cami&oacute;n
									</th>
									<th rowspan="2" colspan="2" class="center">
										Tiempo prom
									</th>
									<th colspan="2" class="center">
										cant ciclos
									</th>
									<th colspan="2" class="center">
										dias activos
									</th>
									<th colspan="2" class="center">
										Ciclo min
									</th>
									<th colspan="2" class="center">
										Ciclo max
									</th>
									<th rowspan="2" class="center">
										tiempo operacion total
									</th>
									
								</tr>
								<tr>
									<th>
									Grua 1
									</th>
									<th>
									Grua 2
									</th>
									<th>
									Grua 1
									</th>
									<th>
									Grua 2
									</th>
									<th>
									Grua 1
									</th>
									<th>
									Grua 2
									</th>
									<th>
									Grua 1
									</th>
									<th>
									Grua 2
									</th>
								</tr>
							</thead>

							<tbody>
								{% set mismo=1 %}
								{% set total=0 %}
								{% set promgrua1={} %}
								{% set promgrua2={} %}
								{% set ciclosgrua1={} %}
								{% set ciclosgrua2={} %}
								{% set operaciongrua1={} %}
								{% set operaciongrua2={} %}
								
								{% for row in datos %}
									{% if mismo %}
										<tr>
											<td class="center">
												{{row.camion}}
											</td>
											<td class="center">
												{% if row.grua=="Grúa-1" %}
													{{row.prom|round|date("G:i:s", false)}}
													{% set promgrua1 = promgrua1 | merge({(row.camion):(row.prom)})%}
												{% endif %}
											</td>
											<td class="center">
												{% if row.grua=="Grúa-2" %}
													{{row.prom|round|date("G:i:s", false)}}
													{% set promgrua2 = promgrua2 | merge({(row.camion):(row.prom)})%}
												{% elseif datos|length > loop.index %}
													{% if datos[loop.index]["camion"]==row.camion and datos[loop.index]["grua"]=="Grúa-2" %}
														{{datos[loop.index]["prom"]|round|date("G:i:s", false)}}
														{% set promgrua2 = promgrua2 | merge({(datos[loop.index]["camion"]):(datos[loop.index]["prom"])} )%}
													{% endif %}
												{% endif %}
											</td>
											<td class="center">
												{% if row.grua=="Grúa-1" %}
													{{row.veces}}
													{% set ciclosgrua1 = ciclosgrua1 | merge({(row.camion):(row.veces)})%}
												{% endif %}
											</td>
											<td class="center">	
												{% if row.grua=="Grúa-2" %}
													{{row.veces}}
													{% set ciclosgrua2 = ciclosgrua2 | merge({(row.camion):(row.veces)})%}
												{% elseif datos|length > loop.index  %}
												
													{% if datos[loop.index]["camion"]==row.camion and datos[loop.index]["grua"]=="Grúa-2" %}
														{{datos[loop.index]["veces"]}}
														{% set ciclosgrua2 = ciclosgrua2 | merge({(datos[loop.index]["camion"]):(datos[loop.index]["veces"])})%}
													{% endif %}
												{% endif %}
											</td>
											<td class="center">
												{% if row.grua=="Grúa-1" %}
													{{row.dias}}
												{% endif %}
											</td>
											<td class="center">	
												{% if row.grua=="Grúa-2" %}
													{{row.dias}}
												{% elseif datos|length > loop.index  %}
												
													{% if datos[loop.index]["camion"]==row.camion and datos[loop.index]["grua"]=="Grúa-2" %}
														{{datos[loop.index]["dias"]}}
													{% endif %}
												{% endif %}
											</td>
											<td class="center">
												{% if row.grua=="Grúa-1" %}
													{{row.min|date("G:i:s", false)}}
												{% endif %}
											</td>
											<td class="center">
												{% if row.grua=="Grúa-2" %}
													{{row.min|date("G:i:s", false)}}
												{% elseif datos|length > loop.index %}
													{% if datos[loop.index]["camion"]==row.camion and datos[loop.index]["grua"]=="Grúa-2" %}
														{{datos[loop.index]["min"]|date("G:i:s", false)}}
													{% endif %}
												{% endif %}
											</td>
											<td class="center">
												{% if row.grua=="Grúa-1" %}
													{{row.max|date("G:i:s", false)}}	
												{% endif %}
											</td>
											<td class="center">
												{% if row.grua=="Grúa-2" %}
													{{row.max|date("G:i:s", false)}}	
												{% elseif datos|length > loop.index %}
													{% if datos[loop.index]["camion"]==row.camion and datos[loop.index]["grua"]=="Grúa-2" %}
														{{datos[loop.index]["max"]|date("G:i:s", false)}}
													{% endif %}
												{% endif %}
											</td>
											<td class="center">
												
												{% if datos|length > loop.index %}
													{% if datos[loop.index]["camion"]==row.camion and datos[loop.index]["grua"]=="Grúa-2" %}
														{% set aux = (datos[loop.index]["suma"]+row.suma) %}
														{{(aux/3600)|round(0,'floor')~(aux-(aux/3600))|round(0,'ceil')|date(":i:s", false)}}
							<!-- revisar hora -->		{# aux|date("H:i:s", false)#}
														{% set total = total + aux %}
														{% set operaciongrua1 = operaciongrua1 + {(row.camion):(row.suma)} %}
														{% set operaciongrua2 = operaciongrua2 + {(datos[loop.index]["camion"]):(datos[loop.index]["suma"])} %} 
													{% else %}
							<!-- revisar hora -->		{#row.suma|date("H:i:s", false)#}
														{{((row.suma)/3600)|round(0,'floor')~((row.suma)-((row.suma)/3600))|round(0,'ceil')|date(":i:s", false)}}
														{% set total = total + row.suma %}
															{% if row.grua=="Grúa-1" %}
															{% set operaciongrua1 = operaciongrua1 + {(row.camion):(row.suma)} %} 
															{% endif %}
															{% if row.grua=="Grúa-2" %}
															{% set operaciongrua2 = operaciongrua2 + {(row.camion):(row.suma)} %} 
															{% endif %}
													{% endif %}
												{% else %}
							<!-- revisar hora -->	{#row.suma|date("H:i:s", false)#}
													{{((row.suma)/3600)|round(0,'floor')~((row.suma)-((row.suma)/3600))|round(0,'ceil')|date(":i:s", false)}}
													{% set total = total + row.suma %}
														{% if row.grua=="Grúa-1" %}
														{% set operaciongrua1 = operaciongrua1 + {(row.camion):(row.suma)} %} 
														{% endif %}
														{% if row.grua=="Grúa-2" %}
														{% set operaciongrua2 = operaciongrua2 + {(row.camion):(row.suma)} %} 
														{% endif %}
												{% endif %}
											</td>
										</tr>
									{% endif %}
												{% if datos|length > loop.index %}
													{% if datos[loop.index]["camion"]==row.camion and datos[loop.index]["grua"] != row.grua %}
														{% set mismo = 0 %}
													{% else %}
														{% set mismo = 1 %}
													{% endif %}
												{% endif %}
								{% endfor %}
								<tr>
									<td class="center">
										Total :
									</td>
									<td class="center">
									{% if promgrua1|length > 0 %}
										{% set sumatoria1 = 0 %}
										{% for valores in promgrua1 %}
										  {% set sumatoria1 = sumatoria1 + valores %}
										{% endfor %}
										{{  (sumatoria1 / promgrua1|length)|round|date("G:i:s", false) }}
									{% endif %}
									</td>
									<td class="center">
									{% if promgrua2|length > 0 %}
										{% set sumatoria2 = 0 %}
										{% for valores in promgrua2 %}
										  {% set sumatoria2 = sumatoria2 + valores %}
										{% endfor %}
										{{  (sumatoria2 / promgrua2|length)|round|date("G:i:s", false) }}
									{% endif %}
									</td>
									<td colspan='8' class="">
										
									</td>
									<td class="center">
										{{(total/3600)|round(0,'floor')~(total-(total/3600))|round(0,'ceil')|date(":i:s", false)}}
				<!-- revisar hora -->	{#total|date("H:i:s", false)#}
									</td>
								</tr>
							</tbody>
				</table>

	<table border=1 >
		<tr>
			<td>
				<div class="red"><h5>Gráficos</h5></div>
			</td>
		</tr>
	</table>
	
{% set cantidad_gruas = 2 %}
{% set jumper = 0 %}

{% for grua in 1..cantidad_gruas %}

	{% set validador = (jumper ? operaciongrua2 : operaciongrua1 ) %}
	
	{% if validador|length == 0 %}
		<div class="page-header"><h1>Sin datos para la Grúa {{grua}} </h1></div>
	{% else %}	
	
	{% set validador2 = (jumper ? ciclosgrua2 : ciclosgrua1 ) %}
	{% set validador3 = (jumper ? promgrua2 : promgrua1 ) %}
	{% set validador4 = (jumper ? sumatoria2 : sumatoria1 ) %}

		<div class="blue"><h5>Grúa {{grua}} - {{graficos}} </h5></div>
		
		<table border=0>
			<tr>
				<td><div class="center">Tiempo Total Operación</div>
					<img src="data:image/png;base64, {{ render(controller('Eye3ControlBundle:Reporte:grafica',{ tipo : "pie", valores : validador })) }}" /> 
					<div class="center">Tiempo Total : {{validador4|round|date("G:i:s", false)}}</div>
				</td>
				<td><div class="center">Número Ciclos</div>
					<table border="1" class="table table-striped table-bordered ">
						<tr>
							<th class="center"> id</th>
							<th class="center"> cant ciclos </th>
						</tr>
						{% set sumador = 0 %}
						{% for camion,valor in validador2 %}
						<tr>
							<td class="center"> {{camion}} </td>
							<td class="center"> {{valor}} </td>
						</tr>
							{% set sumador = sumador + valor %}
						{% endfor %}
					</table>
					<div class="center">Total ciclos: {{sumador}}</div>
				</td>
				<td><div class="center">Tiempo de ciclo promedio</div>
					<img src="data:image/png;base64, {{ render(controller('Eye3ControlBundle:Reporte:grafica',{ tipo : "columnas", valores : validador3  })) }}" /> 
					<div class="center">ciclo promedio : {{  (validador4 / validador3|length)|round|date("G:i:s", false) }}</div>
				</td>
			</tr>
		</table>
	{% endif %}
	{% set jumper = 1 %}
{% endfor %}


