{% extends "::base.html.twig" %}

{% block title %}Control Estadisticas{% endblock %}

{% block stylesheets %}
{{ parent() }}
		<link rel="stylesheet" href="{{ asset('bundles/eye3control/css/datepicker.css') }}" />

{% endblock %}

{% block body %}
	<div class="row" >
		<div class="col-md-4 col-xs-2"></div>
		<div class="col-md-3 col-xs-8">
			<!-- #section:plugins/date-time.datepicker -->
				<form action="#" method="POST">
			<div class="input-group">
				<input class="form-control date-picker" name="fecha" id="id-date-picker-1" type="text" data-date-format="dd-mm-yyyy" placeholder="{{fecha}}" value="{{fecha}}" />
				<span class="input-group-addon">
					<i class="fa fa-calendar bigger-110"></i>
				</span>
			</div>
				<input type="submit" value="ver">
				</form>
		</div>
	</div>

{% set cantidad_gruas = 2 %}
{% set jumper = 0 %}
{% set gruas_validas =  {} %}
{% set cant_gruas_validas =  {} %}
{% set tiempo_min =  {} %}

{% for grua in 1..cantidad_gruas %}
	{% if datos is not empty %}
		{% if datos[(jumper)]['grua'][5:1] != grua %}
				<div class="row">
					<div class="page-header"><h1>Sin datos para la Grúa {{grua}} </h1></div>
				</div><!-- /.row -->
		{% else %}	
		
			 {% set aux = 0 %}
			
					<div class="row">
						<div class="col-12">
							<div class="page-header"><h1>Camiones en Grúa {{grua}}</h1></div>
						</div>
						<div class="col-12 ">
								<table class="table table-striped table-bordered table-hover">
								{% set minimo = null %}
								{% set titulos = [null, "Cant Ciclos", "Ciclo &Delta;t Max.", "Ciclo &Delta;t Min." , "Duracion Promedio", "Total periodo:"] %} 
								{% set contenido = [ null,'cuantos', 'max', 'tiempo' , 'prom', 'suma'] %} 
								{% for row in 0..4 %}
									{% if loop.first %}
									<thead>
										<tr>
											<td >
											&nbsp;
											</td>
											{% for camion in camiones %}
											<td class="center">
											{{camion.camion}}
											</td>
											{% endfor %}
										</tr>
									</thead>
									<tbody>
									{% endif %}
										<tr>
											<td class="center">
											{{ cycle(titulos, loop.index )|raw }}
											</td>
											{% set pivote = 0 + jumper %}
											{% for camion in camiones %}
												<td class="center">
												{% if camion.camion == datos[pivote]['camion'] %}
													{{ datos[pivote][ (cycle(contenido, loop.parent.loop.index ))] }} 
													
													{% if loop.parent.loop.first %}
														{% set aux = aux + datos[pivote]['cuantos'] + 1 %}
													{% endif %}
													
													{% if minimo > datos[pivote]['tiempo'] or minimo is null %}
														{% set minimo = datos[pivote]['tiempo'] %}
													{% endif %}
													
													{% if datos|length > (pivote + datos[pivote]['cuantos'] + 1) %}
														{% set pivote = pivote + datos[pivote]['cuantos'] + 1 %}
													{% endif %}
												{% endif %}
												</td>
											
											{% endfor %} {#<!-- /for de camiones -->#}
										</tr>
									{% if loop.last %}
										</tbody>	
										{% set jumper = pivote %}
									{% endif %}
									
								{% endfor %} {#<!-- /for llenando las 5 columnas -->#}
								</table>
						</div>	<!-- /.col -->	
						

						<div class=" col-12 ">
							<div class="widget-box">
								

								<div class="widget-body">
									<div class="widget-main" style="display:flex;">
										<!-- #section:plugins/charts.flotchart -->
										<div id="placeholder{{ grua }}" >{# Gráfico Grúa {grua} #}</div>
										<p id="choices{{ grua }}" style="float:right; width:85px;"></p>
										
										
									</div><!-- /.widget-main -->
								</div><!-- /.widget-body -->
							</div><!-- /.widget-box -->
						</div><!-- /.col -->
							
					</div><!-- /.row -->
					
		{% set gruas_validas = gruas_validas| merge ([ grua ]) %}  
		{% set cant_gruas_validas = cant_gruas_validas| merge ([ aux ]) %}  
		{% set tiempo_min = tiempo_min| merge ([ minimo|split(':') ]) %}  
		
						
		{% endif %}	{#<!-- /if correct grua -->#}	
		
		{% if not loop.last %}		
			<div class="hr hr32 hr-double"></div>		
		{% endif %}		

	{% else %}
		<div class="row">
			<div class="page-header"><h1>Sin datos para la Grúa {{grua}} </h1></div>
		</div><!-- /.row -->
	{% endif %}	{#<!-- /if datos empty -->#}

{% endfor %}{#<!-- /for each grua -->#}						

<!-- basic scripts -->

		<!--[if !IE]> -->
		<script type="text/javascript">
			window.jQuery || document.write("<script src='{{ asset('bundles/eye3control/js/jquery.min.js') }}'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->
		
<!-- page specific plugin scripts -->

		<script src="{{ asset('bundles/eye3control/js/flot/jquery.flot.min.js') }}"></script>
		<script src="{{ asset('bundles/eye3control/js/flot/jquery.flot.orderBars.js') }}"></script>
		<script src="{{ asset('bundles/eye3control/js/flot/jquery.flot.resize.min.js') }}"></script>
		<script src="{{ asset('bundles/eye3control/js/date-time/bootstrap-datepicker.min.js') }}"></script>
		<script src="{{ asset('bundles/eye3control/js/date-time/locales/bootstrap-datepicker.es.js') }}"></script>
		

		<!-- inline scripts related to this page -->
		<script type="text/javascript">

			jQuery(function($) {
			
	 //flot chart resize plugin, somehow manipulates default browser resize event to optimize it!
	  //but sometimes it brings up errors with normal resize event handlers
	  $.resize.throttleWindow = false;
	
	{% set corte = 0 %}
	
	
	{% for grua in gruas_validas %}
				  var placeholder{{grua}} = $('#placeholder{{grua}}').css({'width':'85%' , 'min-height':'230px'});
					
				  var graficame{{grua}} =  [
												{% set contador = 0   %}
												
												{% set llenado  = null %}
												{% set extra  = null %}

												{% for camion in datos|slice(corte, cant_gruas_validas[loop.index0])  %}
													{% if loop.first %}
													{
														 "label": "{{camion.camion}}",
														 "data": 
														 [
																{% set temp = camion.cuantos    %}
													{% elseif camion.max is null %}
																	{% set contador = contador +1 %}
																	{% set llenado   %}
																			{{ llenado}}[{{contador}}, {{camion.tiempo}}]
																				{% if contador != temp %},{% endif %}
																	{% endset %}
																	{% set extra   %}
																			{{ extra}}'{{camion.inicio|date("d/m/y \\a \\l\\a\\s H:i",false)}}'
																				{% if contador != temp %},{% endif %}
																	{% endset %}			
															{% if loop.last %}
																	{{ llenado}}
																	], "extra": [{{ extra}} ] }
																]; 
															{% endif %}
													{% else %}
																		{{ llenado}}
														], "extra": [{{ extra}} ] }
																		
																		{% set contador  = 0  %}
																		{% set llenado  = null %}
																		{% set extra  = null %}
																		{% set temp = camion.cuantos  %}
																		,
																		{
														 "label": "{{camion.camion}}",
														 "data": 
														 [
																	
													{% endif %}
												{% endfor %}
				  
				  
					{% if datos|length > (corte + cant_gruas_validas[loop.index0] )%}
						{% set corte = corte + cant_gruas_validas[loop.index0]  %}
					{% endif %}	
	{% endfor %}
			
							
			// tooltip format
			  var $tooltip = $("<div class='tooltip top in'><div class='tooltip-inner'></div></div>").hide().appendTo('body');
			  var previousPoint = null;
			
				 
			
	{% for gruisima in gruas_validas %} 
			 
		var i = 0;
		$.each(graficame{{gruisima}}, function(key, val) {
			val.color = i;
			++i;
		});

		// insert checkboxes 
		var choiceContainer{{gruisima}} = $("#choices{{gruisima}}");
		$.each(graficame{{gruisima}}, function(key, val) {
			choiceContainer{{gruisima}}.append("<br/><input type='checkbox' name='" + key +
				"' checked='checked' id='id" + key + "'></input>" +
				"<label for='id" + key + "'>"
				+ val.label + "</label>");
		});

		choiceContainer{{gruisima}}.find("input").click(plotAccordingToChoices{{gruisima}});

		function plotAccordingToChoices{{gruisima}}() {

			var graficos{{gruisima}} = [];

			choiceContainer{{gruisima}}.find("input:checked").each(function () {
				var key = $(this).attr("name");
				if (key && graficame{{gruisima}}[key]) {
					graficos{{gruisima}}.push(graficame{{gruisima}}[key]);
				}
			});

			if (graficos{{gruisima}}.length > 0) {
			$.plot(placeholder{{gruisima}}, graficos{{gruisima}}, {
										series: {
											bars: {
												show: true,
												barWidth: 0.1,
												align: "center",
												order:1
											
											}
										},
										yaxis: {
											  min : {{tiempo_min[loop.index0][1]*60+tiempo_min[loop.index0][2]-50}}, 
											  tickFormatter: function (v, axis) {
													  var minutes = Math.floor(v / 60);
													  var seconds = v - minutes * 60;
													  if (seconds < 10) {seconds = "0"+seconds;}
															return minutes + ":"+ seconds;
														}

										},
										xaxis: {
											min : 0,
											tickSize: 1,
											tickDecimals: 0, 
									
											autoscaleMargin: .10
											
										},
										grid: {
											hoverable: true,
											clickable: false,
											borderWidth: 1
										},
										legend: {
											labelBoxBorderColor: "none"											
										}
									});
			}
		}

		plotAccordingToChoices{{gruisima}}();
		
			placeholder{{gruisima}}.on('plothover', function (event, pos, item) {
				if(item) {
					if (previousPoint != item.seriesIndex) {
						previousPoint = item.seriesIndex;
						
						var minutes = Math.floor(item.datapoint[1] / 60);
						var seconds = item.datapoint[1] - minutes * 60;
						if (seconds < 10) {seconds = "0"+seconds;}
						var x = minutes + ":"+ seconds;
						
						
						
						var tip = item.series['label'] + " en total demoró " + x + ". El dia  "+ item.series['extra'][item.dataIndex];
						$tooltip.show().children(0).text(tip);
					}
					$tooltip.css({top:pos.pageY + 10, left:pos.pageX + 10});
				} else {
					$tooltip.hide();
					previousPoint = null;
				}
				
			 });
	{% endfor %}		 
			})
			
			jQuery(function($) {
				
			
				
				//datepicker plugin
				//link
				$('.date-picker').datepicker({
					autoclose: true,
					weekStart: 1,
					language: "es",
					todayBtn: "linked",
					endDate: "today",
					selectWeek:true,
					todayHighlight: true
				})
				//show datepicker when clicking on the icon
				.next().on(ace.click_event, function(){
					$(this).prev().focus();
				});
			
			});
			
		</script>
	
{% endblock %}
