{% extends "::base.html.twig" %}

{% block title %}Control Estadisticas{% endblock %}

{% block stylesheets %}
{{ parent() }}
		<link rel="stylesheet" href="{{ asset('bundles/eye3control/css/datepicker.css') }}" />

{% endblock %}

{% block body %}
	<div class="row" >
		<div class="col-md-4 col-xs-2"></div>
		<div class="col-md-3 col-xs-8">
			<!-- #section:plugins/date-time.datepicker -->
			<div class="input-group">
				<input class="form-control date-picker" id="id-date-picker-1" type="text" data-date-format="dd-mm-yyyy" placeholder="24-09-2013" />
				<span class="input-group-addon">
					<i class="fa fa-calendar bigger-110"></i>
				</span>
			</div>
		</div>
	</div>
{#dump(datos)#}
	<div class="row">
		<div class="col-12">
			<div class="page-header"><h1>Camiones</h1></div>
		</div>
		<div class="col-12 ">
				<table class="table table-striped table-bordered table-hover">
				{% set info = 1 %}
				{% set tiempo_min = null %}
				{% set tiempo_max = null %}
				{% set ciclos_max = null %}
				{% set titulos = [null, "Cant Ciclos", "Ciclo &Delta;t Max.", "Ciclo &Delta;t Min." , "Duracion Promedio", "Total periodo:"] %} 
				{% set contenido = [ null,'inicio', 'max', 'tiempo' , 'prom', 'suma'] %} 
				{% for row in 0..4 %}
					{% if loop.first %}
					<thead>
						<tr>
							<td >
							&nbsp;
							</td>
							{% for camion in camiones %}
							<td class="center">
							{{camion.camion}}
							</td>
							{% endfor %}
						</tr>
					</thead>
					<tbody>
					{% endif %}
						<tr>
							<td class="center">
							{{ cycle(titulos, loop.index )|raw }}
							</td>
							{% set pivote = 0 %}
							{% for camion in camiones %}
								<td class="center">
								{% if camion.camion == datos[pivote]['camion'] %}
									{{ datos[pivote][ (cycle(contenido, loop.parent.loop.index ))] }} 
									
									{% if tiempo_min > datos[pivote]['tiempo'] or tiempo_min is null %}
										{% set tiempo_min = datos[pivote]['tiempo']|split(':') %}
									{% endif %}
									{% if tiempo_max < datos[pivote]['max'] %}
										{% set tiempo_max = datos[pivote]['max']|split(':') %}
									{% endif %}
									{% if ciclos_max < datos[pivote]['inicio'] %}
										{% set ciclos_max = datos[pivote]['inicio'] %}
									{% endif %}
									{% if datos|length > (pivote + datos[pivote]['inicio'] + 1)%}
										{% set pivote = pivote + datos[pivote]['inicio'] + 1 %}
									{% endif %}
								{% endif %}
								</td>
							{% endfor %}
						</tr>
					{% if loop.last %}
					</tbody>
					{% endif %}
				{% endfor %}
				</table>
		</div>	<!-- /.col -->	
		

		<div class=" col-12 ">
			<div class="widget-box">
				

				<div class="widget-body">
					<div class="widget-main" style="display:flex;">
						<!-- #section:plugins/charts.flotchart -->
						<div id="placeholder" ></div>
						<p id="choices" style="float:right; width:85px;"></p>
						
						
					</div><!-- /.widget-main -->
				</div><!-- /.widget-body -->
			</div><!-- /.widget-box -->
		</div><!-- /.col -->
			
			
			
	</div><!-- /.row -->
			
	
		
<!-- basic scripts -->

		<!--[if !IE]> -->
		<script type="text/javascript">
			window.jQuery || document.write("<script src='{{ asset('bundles/eye3control/js/jquery.min.js') }}'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->
		
<!-- page specific plugin scripts -->

		<script src="{{ asset('bundles/eye3control/js/flot/jquery.flot.min.js') }}"></script>
		<script src="{{ asset('bundles/eye3control/js/flot/jquery.flot.time.min.js') }}"></script>
		<script src="{{ asset('bundles/eye3control/js/flot/jquery.flot.resize.min.js') }}"></script>
		<script src="{{ asset('bundles/eye3control/js/date-time/bootstrap-datepicker.min.js') }}"></script>
		

		<!-- inline scripts related to this page -->
		<script type="text/javascript">

			jQuery(function($) {
			
	 //flot chart resize plugin, somehow manipulates default browser resize event to optimize it!
	  //but sometimes it brings up errors with normal resize event handlers
	  $.resize.throttleWindow = false;
	
	  var placeholder = $('#placeholder').css({'width':'85%' , 'min-height':'230px'});
				
				 
		var d = [
				{% set contador = 0   %}
				{% set serializador = 0   %}
				{% set llenado  = null %}
				{% set extra  = null %}
				{% for camion in datos %}
					{% if loop.first %}
					{
						 "label": "{{camion.camion}}",
						 "data": 
						 [
								{% set temp = camion.inicio    %}
					{% elseif camion.max is null %}
									{% set contador = contador +1 %}
									{% set llenado   %}
											{{ llenado}}[{{contador}}, {{camion.tiempo}}] 
												{% if contador != temp %},{% endif %}
									{% endset %}
									{% set extra   %}
											{{ extra}}'{{camion.inicio|date("d/m/y \\a \\l\\a\\s H:i",false)}}'
												{% if contador != temp %},{% endif %}
									{% endset %}			
							{% if loop.last %}
									{{ llenado}}	
									], "extra": [{{ extra}} ] }
								]; 
							{% endif %}
					{% else %}
										{{ llenado}}	
						], "extra": [{{ extra}} ] }
										{% set serializador  = serializador+0.1 %}
										{% set contador  = 0+serializador %}
										{% set llenado  = null %}
										{% set extra  = null %}
										{% set temp = camion.inicio    %}
										,
										{
						 "label": "{{camion.camion}}",
						 "data": 
						 [
									
					{% endif %}
				{% endfor %}
								
			
			
			
		var i = 0;
		$.each(d, function(key, val) {
			val.color = i;
			++i;
		});

		// insert checkboxes 
		var choiceContainer = $("#choices");
		$.each(d, function(key, val) {
			choiceContainer.append("<br/><input type='checkbox' name='" + key +
				"' checked='checked' id='id" + key + "'></input>" +
				"<label for='id" + key + "'>"
				+ val.label + "</label>");
		});

		choiceContainer.find("input").click(plotAccordingToChoices);

		function plotAccordingToChoices() {

			var graficos = [];

			choiceContainer.find("input:checked").each(function () {
				var key = $(this).attr("name");
				if (key && d[key]) {
					graficos.push(d[key]);
				}
			});

			if (graficos.length > 0) {
			$.plot(placeholder, graficos, {
										series: {
											bars: {
												show: true,
												barWidth: 0.1,
												align: {% if serializador %}"right"{% else %}"center"{% endif %}
											}
										},
										yaxis: {
											  min : {{tiempo_min[1]*60+tiempo_min[2]-50}},
											  tickFormatter: function (v, axis) {
													  var minutes = Math.floor(v / 60);
													  var seconds = v - minutes * 60;
															return minutes + ":"+ seconds;
														}

										},
										xaxis: {
											min : 0,
											tickSize: 1,
											tickDecimals: 0, 
											max : {{ciclos_max+1}},
											autoscaleMargin: .10
											
										},
										grid: {
											hoverable: true,
											clickable: false,
											borderWidth: 1
										},
										legend: {
											labelBoxBorderColor: "none"											
										}
									});
			}
		}

		plotAccordingToChoices();
		
		
									
			// tooltip format
			  var $tooltip = $("<div class='tooltip top in'><div class='tooltip-inner'></div></div>").hide().appendTo('body');
			  var previousPoint = null;
									
			placeholder.on('plothover', function (event, pos, item) {
				if(item) {
					if (previousPoint != item.seriesIndex) {
						previousPoint = item.seriesIndex;
						
						var minutes = Math.floor(item.datapoint[1] / 60);
						var seconds = item.datapoint[1] - minutes * 60;
						var x = minutes + ":"+ seconds;
						
						
						
						var tip = item.series['label'] + " en total demoró " + x + ". El dia  "+ item.series['extra'][item.dataIndex];
						$tooltip.show().children(0).text(tip);
					}
					$tooltip.css({top:pos.pageY + 10, left:pos.pageX + 10});
				} else {
					$tooltip.hide();
					previousPoint = null;
				}
				
			 });
			 
			})
			
			jQuery(function($) {
				
			
				
				//datepicker plugin
				//link
				$('.date-picker').datepicker({
					autoclose: true,
					todayHighlight: true
				})
				//show datepicker when clicking on the icon
				.next().on(ace.click_event, function(){
					$(this).prev().focus();
				});
			
			
			
			
			});
			
			
				
		</script>
					
		
	
{% endblock %}
