{% extends "::base.html.twig" %}

{% block title %}Control Estadisticas{% endblock %}

{% block stylesheets %}
{{ parent() }}
		<link rel="stylesheet" href="{{ asset('bundles/eye3control/css/datepicker.css') }}" />

{% endblock %}

{% block body %}

{{dump(datos)}}
	<div class="row" >
		<div class="col-md-4 col-xs-2"></div>
		<div class="col-md-3 col-xs-8">
			<!-- #section:plugins/date-time.datepicker -->
			<div class="input-group">
				<input class="form-control date-picker" id="id-date-picker-1" type="text" data-date-format="dd-mm-yyyy" placeholder="10-07-2014" />
				<span class="input-group-addon">
					<i class="fa fa-calendar bigger-110"></i>
				</span>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<div class="page-header"><h1>{{datos.0.camion}} </h1></div>
		</div>
		<div class="col-xs-12 col-md-5">
				<table class="table table-striped table-bordered table-hover">

					<tr>
						<td class="center">
						Cant Ciclos
						</td>
						<td class="center">
						{{(datos|length)-1}}
						</td>
					</tr>
					<tr>
						<td class="center">
						Ciclo &Delta;t Max.
						</td>
						<td class="center">
						{{datos.0.max}}
						</td>
					</tr>
					<tr>
						<td class="center">
						Ciclo &Delta;t Min.
						</td>
						<td class="center">
						{{datos.0.tiempo}}
						</td>
					</tr>
					<tr>
						<td class="center">
						Duracion Promedio
						</td>
						<td class="center">
						{{datos.0.prom|round|date("G:i:s", false)}}
						</td>
					</tr>
					<tr>
						<td class="center">
							Total periodo:
						</td>
						<td class="center">
						{{datos.0.suma}}
						</td>
					</tr>
				</table>
		</div>	<!-- /.col -->	
		

		<div class=" col-xs-12 col-md-6 ">
			<div class="widget-box">
				

				<div class="widget-body">
					<div class="widget-main">
						<!-- #section:plugins/charts.flotchart -->
						<div id="placeholder" ></div>

						
						
					</div><!-- /.widget-main -->
				</div><!-- /.widget-body -->
			</div><!-- /.widget-box -->
		</div><!-- /.col -->
			
			
			
	</div><!-- /.row -->
			
	<div class="hr hr32 hr-double"></div>		
			
	
<!-- basic scripts -->

		<!--[if !IE]> -->
		<script type="text/javascript">
			window.jQuery || document.write("<script src='{{ asset('bundles/eye3control/js/jquery.min.js') }}'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->
		
<!-- page specific plugin scripts -->

		<script src="{{ asset('bundles/eye3control/js/flot/jquery.flot.min.js') }}"></script>
		<script src="{{ asset('bundles/eye3control/js/flot/jquery.flot.resize.min.js') }}"></script>
		<script src="{{ asset('bundles/eye3control/js/date-time/bootstrap-datepicker.min.js') }}"></script>
		
{# no compatibles con la el menu deslizable, asi que se desactivan , estaban para habilitar la seleccion del calendario con el icono 	
	<!-- ace scripts -->
		<script src="{{ asset('bundles/eye3control/js/ace-elements.min.js') }}"></script>
		<script src="{{ asset('bundles/eye3control/js/ace.min.js') }}"></script>
#}
		<!-- inline scripts related to this page -->
		<script type="text/javascript">

			jQuery(function($) {
			
	 //flot chart resize plugin, somehow manipulates default browser resize event to optimize it!
	  //but sometimes it brings up errors with normal resize event handlers
	  $.resize.throttleWindow = false;
	
	  var placeholder = $('#placeholder').css({'width':'90%' , 'min-height':'200px'});
				
			var data = [
		{data: [[1, 218],[2, 175],[3, 216]]}
    ];

	$.plot( placeholder, data, {
		series: {
			lines: {
				fill: true,
			},
			bars: {
				show: true,
				align:'center',
				barWidth: 0.2,
			}	
		},
		xaxis: {
            min : 0
		},
		yaxis: {
			min: 0
		}
	});
			})
			
			jQuery(function($) {
				
			
				
				//datepicker plugin
				//link
				$('.date-picker').datepicker({
					autoclose: true,
					todayHighlight: true
				})
				//show datepicker when clicking on the icon
				.next().on(ace.click_event, function(){
					$(this).prev().focus();
				});
			
			
			
			
			});
				
		</script>
	
{% endblock %}
