{% extends "::base.html.twig" %}

{% block title %}Control Estadisticas{% endblock %}

{% block stylesheets %}
{{ parent() }}
		<link rel="stylesheet" href="{{ asset('bundles/eye3control/css/datepicker.css') }}" />

{% endblock %}

{% block body %}

	<div class="row" >
		<div class="col-md-4 col-xs-2"></div>
		<div class="col-md-3 col-xs-8">
			<!-- #section:plugins/date-time.datepicker -->
			<div class="input-group">
				<input class="form-control date-picker" id="id-date-picker-1" type="text" data-date-format="dd-mm-yyyy" placeholder="24-09-2013" />
				<span class="input-group-addon">
					<i class="fa fa-calendar bigger-110"></i>
				</span>
			</div>
		</div>
	</div>

{% set cantidad_gruas = 2 %}

		<div class="row">
				<div class="col-12">
					<div class="page-header"><h1>Grúa 1 </h1></div>
				</div>
				
				<div class=" col-xs-12 col-md-6 ">
					<div class="widget-box">
						

						<div class="widget-body">
							<div class="widget-main">
								<!-- #section:plugins/charts.flotchart -->
								<div id="piechart-placeholder1">Gráfico Grúa 1</div>

								
								
							</div><!-- /.widget-main -->
						</div><!-- /.widget-body -->
					</div><!-- /.widget-box -->
				</div><!-- /.col -->
					
					
				<div class="col-xs-12 col-md-5">
						<table class="table table-striped table-bordered table-hover">
									
										<tr>
											<th class="center" >
												Activo
											</th>
											<td class="center">
												{{datos.pie.0.uso|date("G:i:s", false)}}
											</td>
										</tr>
										<tr>
											<th class="center" >
												Inactivo
											</th>
											<td class="center">
												{{datos.pie.0.muerto|date("G:i:s", false)}}
											</td>
										</tr>
										<tr>
											<th class="center" >
												Cant. Ciclos
											</th>
											<td class="center">
												{{datos.pie.0.ciclos}} 
											</td>
										</tr>
										<tr>
											<th class="center" >
												Prom. Ciclos
											</th>
											<td class="center">
												{{datos.pie.0.prom}}
											</td>
											
										</tr>
									
						</table>
				</div>	<!-- /.col -->	
		</div><!-- /.row -->
		
		<div class="row">

					<div class=" col-12 ">
						<div class="widget-box">
							

							<div class="widget-body">
								<div class="widget-main" style="display:flex;">
									<!-- #section:plugins/charts.flotchart -->
									<div id="placeholder-grua1" ></div>
									<p id="choices1" style="float:right; width:85px;"></p>
									
									
								</div><!-- /.widget-main -->
							</div><!-- /.widget-body -->
						</div><!-- /.widget-box -->
					</div><!-- /.col -->
				
					
					
		</div><!-- /.row -->
	
	
	{% block js %}{% endblock %}

<!-- basic scripts -->

		<!--[if !IE]> -->
		<script type="text/javascript">
			window.jQuery || document.write("<script src='{{ asset('bundles/eye3control/js/jquery.min.js') }}'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
		<script type="text/javascript">
		 window.jQuery || document.write("<script src='{{ asset('bundles/eye3control/js/jquery1x.min.js') }}'>"+"<"+"/script>");
		</script>
		<![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='{{ asset('bundles/eye3control/js/jquery.mobile.custom.min.js') }}'>"+"<"+"/script>");
		</script>
		<script src="{{ asset('bundles/eye3control/js/bootstrap.min.js') }}"></script>
		
<!-- page specific plugin scripts -->

		<script src="{{ asset('bundles/eye3control/js/flot/jquery.flot.min.js') }}"></script>
		<script src="{{ asset('bundles/eye3control/js/flot/jquery.flot.pie.min.js') }}"></script>
		<script src="{{ asset('bundles/eye3control/js/flot/jquery.flot.time.min.js') }}"></script>
		<script src="{{ asset('bundles/eye3control/js/flot/jquery.flot.resize.min.js') }}"></script>
		<script src="{{ asset('bundles/eye3control/js/flot/jquery.flot.symbol.js') }}"></script>
		<script src="{{ asset('bundles/eye3control/js/flot/jquery.flot.navigate.js') }}"></script>
		<script src="{{ asset('bundles/eye3control/js/date-time/bootstrap-datepicker.min.js') }}"></script>
		
	<!-- ace scripts -->
		<script src="{{ asset('bundles/eye3control/js/ace-elements.min.js') }}"></script>
		<script src="{{ asset('bundles/eye3control/js/ace.min.js') }}"></script>
		
		<!-- inline scripts related to this page -->
		<script type="text/javascript">

		jQuery(function($) {
				$('.easy-pie-chart.percentage').each(function(){
					var $box = $(this).closest('.infobox');
					var barColor = $(this).data('color') || (!$box.hasClass('infobox-dark') ? $box.css('color') : 'rgba(255,255,255,0.95)');
					var trackColor = barColor == 'rgba(255,255,255,0.95)' ? 'rgba(255,255,255,0.25)' : '#E2E2E2';
					var size = parseInt($(this).data('size')) || 50;
					$(this).easyPieChart({
						barColor: barColor,
						trackColor: trackColor,
						scaleColor: false,
						lineCap: 'butt',
						lineWidth: parseInt(size/10),
						animate: /msie\s*(8|7|6)/.test(navigator.userAgent.toLowerCase()) ? false : 1000,
						size: size
					});
				})
			
							
			
			  //flot chart resize plugin, somehow manipulates default browser resize event to optimize it!
			  //but sometimes it brings up errors with normal resize event handlers
			  $.resize.throttleWindow = false;

			  {% set colores = ["#FDDF16", "#00AC5C", "#2E57A7" , "#9256A2", "#EE3830", "#F47A2C", "#9CCC51", "#00828F", "#6C56A4", "#C44A72", "#F05A30", "#FAAB33"] %}

				{% set corte = 0 %}
				{% set contador = 0 %}
				
			
				  var placeholderpie1 = $('#piechart-placeholder1').css({'width':'90%' , 'min-height':'170px'});
					
				  var graficopie1 = [
				
						{ label: "activo",  data: {{datos.pie.0.uso}} {#, color: "{{ cycle(colores, 0 ) }}"#} } ,
						{ label: "inactivo",  data: {{datos.pie.0.muerto}} {#, color: "{{ cycle(colores, 1 ) }}"#} } 
						
						
				
				  ]
					
			
			  

			  function drawPieChart(placeholder, data, position) {
			 	  $.plot(placeholder, data, {
					series: {
						pie: {
							show: true,
							highlight: {
								opacity: 0.25
							},
							
							stroke: {
								color: '#fff',
								width: 2
							},
							startAngle: 2
						}
					},
					legend: {
						show: false
					}
					,
					grid: {
						hoverable: true,
						clickable: true
					}
				 })
			 }
			
			  //pie chart tooltip example
			  var $tooltip = $("<div class='tooltip top in'><div class='tooltip-inner'></div></div>").hide().appendTo('body');
			  var previousPoint = null;

			  
				 drawPieChart(placeholderpie1, graficopie1);
			

			placeholderpie1.on('plothover', function (event, pos, item) {
				if(item) {
					if (previousPoint != item.seriesIndex) {
						previousPoint = item.seriesIndex;
						var tip = item.series['label'] + " : " + Math.floor(item.series['percent']* 100) / 100 +'%';
						$tooltip.show().children(0).text(tip);
					}
					$tooltip.css({top:pos.pageY + 10, left:pos.pageX + 10});
				} else {
					$tooltip.hide();
					previousPoint = null;
				}
				
			 });
			 
 
	
					  var placeholder1 = $('#placeholder-grua1').css({'width':'85%' , 'min-height':'230px'});
					
				  var graficame1 =  [
				  
										{% set data = null %}
										{% set tren = 1 %}
										{% set extra = null %}
										{% set extra2 = null %}
										{% for camion in datos['trenes']  %}
												{% if loop.first or data is null %}	
													{"label": "Tren-{{tren}}","data":[
												{% endif %}
													{% if camion.proximo > 2400 %}
														{{ data}}[{{camion.inicio|date("U")}}000,{{tren}}]],color: "{{ cycle(colores, tren-1 ) }}",extra:[{{ extra}}'{{camion.camion}}'],extra2:[{{ extra2}}'{{camion.duracion}}']}
															{% if not loop.last %},{% endif %}
														{% set tren = tren + 1 %}
														{% set data = null %}
														{% set extra = null %}
														{% set extra2 = null %}
													{% else %}	 
														{% set data  %}{{ data}}[{{camion.inicio|date("U")}}000,{{tren}}],{% endset %}
														{% set extra  %}{{ extra}}'{{camion.camion}}',{% endset %}
														{% set extra2  %}{{ extra2}}'{{camion.duracion|date("i:s")}}',{% endset %}
													{% endif %}
												{% if loop.last and data is not null %}
														{{data}},color: "{{ cycle(colores, tren-1 ) }}",extra:[{{extra}}],extra2:[{{extra2}}]}
												{% endif %}
										{% endfor %}
							
									  
									  ]; 


		// insert checkboxes 
		var choiceContainer1 = $("#choices1");
		$.each(graficame1, function(key, val) {
			choiceContainer1.append("<br/><input type='checkbox' name='" + key +
				"' checked='checked' id='id" + key + "'></input>" +
				"<label for='id" + key + "'>"
				+ val.label + "</label>");
		});

		choiceContainer1.find("input").click(plotAccordingToChoices1);

		function plotAccordingToChoices1() {

			var graficos1 = [];

			choiceContainer1.find("input:checked").each(function () {
				var key = $(this).attr("name");
				if (key && graficame1[key]) {
					graficos1.push(graficame1[key]);
				}
			});

			if (graficos1.length > 0) {
			$.plot(placeholder1, graficos1, {
										series: {
					stack: true,
					lines: {
						show: true
					},
					points: {
						show: true,
						radius: 3,
						symbol: "square" 
					}
				},
										yaxis: {
					min : 0,
					ticks: [
						{% for trencito in 1..(tren-1) %}
							[{{trencito}},'tren-{{trencito}}']
							{% if not loop.last %},{% endif %}
						{% endfor %}
					]
                 
                },
										xaxis: {
                mode: "time",
				timezone: "UTC"
			{#	min: Date.UTC(2013, 9, 24, 0, 0, 0) #}
                
                   
                },
										grid: {
					hoverable: true,
					clickable: true
				},
										legend: {
											labelBoxBorderColor: "none"											
										}
									});
			}
		}

		plotAccordingToChoices1();
		
			placeholder1.on('plothover', function (event, pos, item) {
				if(item) {
					if (previousPoint != item.seriesIndex) {
						previousPoint = item.seriesIndex;
						
											
						
						var tip = item.series['label'] + " silo "+ (item.dataIndex+1)+" tomado por "+ item.series['extra'][item.dataIndex]+" quien demoró "+ item.series['extra2'][item.dataIndex];
						$tooltip.show().children(0).text(tip);
					}
					$tooltip.css({top:pos.pageY + 2, left:pos.pageX + 2});
				} else {
					$tooltip.hide();
					previousPoint = null;
				}
				
			 });
			
			})
			
			jQuery(function($) {
				
			
				
				//datepicker plugin
				//link
				$('.date-picker').datepicker({
					autoclose: true,
					todayHighlight: true
				})
				//show datepicker when clicking on the icon
				.next().on(ace.click_event, function(){
					$(this).prev().focus();
				});
			
			
			});
				
		</script>
	
{% endblock %}
{# restricciones de la pagina, la base de datos debe contener datos('grua') y sus datos deben ser en formato "Grúa-x no siendo mayor a 9 unidades #}
